article {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 8px auto;
}

input[type='url'] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px auto;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

input[type='button'] {

}
